<ion-header>
  <ion-toolbar>
    <ion-title>{{ task ? 'Editar' : 'Nueva' }} tarea</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon ios="close-outline" md="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="taskForm" (ngSubmit)="onTaskSubmit()">
    <ion-list class="form-list">
      <ion-item>
        <ion-textarea
          label="Nombre *"
          labelPlacement="floating"
          formControlName="name"
          [autoGrow]="true"
        ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-select
          label="Categoría"
          placeholder="Selecciona una categoría"
          formControlName="category"
          interface="action-sheet"
          cancelText="Cancelar"
          [interfaceOptions]="{ header: 'Categoría' }"
        >
          <ion-select-option
            *ngFor="let category of categories$ | async"
            [value]="category.id"
          >
            {{ category.name }}
          </ion-select-option>

          <ion-select-option value=""> Sin categoría </ion-select-option>

          <ion-select-option [value]="newCategorySymbol">
            Nueva categoría +
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-button type="submit" shape="round" size="default" class="full-btn">
          {{ task ? 'Guardar' : 'Añadir' }} tarea
        </ion-button>
      </ion-item>

      <ion-item *ngIf="task">
        <ion-button
          (click)="removeTask()"
          size="default"
          shape="round"
          color="danger"
          fill="clear"
          [style.width]="'100%'"
        >
          <ion-icon
            ios="trash-outline"
            android="trash-sharp"
            slot="end"
          ></ion-icon>

          Eliminar
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
