<ion-header>
  <ion-toolbar>
    <ion-title>Nueva tarea</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="taskForm" (ngSubmit)="onNewTaskSubmit()">
    <ion-list>
      <ion-item>
        <ion-input
          label="Nombre *"
          type="text"
          formControlName="name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          label="Categoría"
          placeholder="Selecciona una categoría"
          formControlName="category"
        >
          <ion-select-option
            *ngFor="let category of categories$ | async"
            [value]="category"
          >
            {{ category.name }}
          </ion-select-option>

          <ion-select-option [value]="newCategorySymbol">
            Nueva categoría +
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-button
          type="submit"
          shape="round"
          size="default"
          class="submit-btn"
        >
          Añadir tarea
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
