@let tasks = tasks$ | async; @let taskCategoryByID = taskCategoryByID$ | async;

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Tareas</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openTaskModal()">
        <ion-icon name="add-outline" slot="start"></ion-icon>
        Nueva
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="category-selector">
    <ion-chip
      *ngFor="let category of taskCategories$ | async"
      [outline]="selectedCategory !== category.id"
      [style.--background]="selectedCategory === category.id ? category.color : ''"
      (click)="filterByCategory(category.id!)"
    >
      {{ category.name }}
    </ion-chip>
  </div>

  <cdk-virtual-scroll-viewport
    itemSize="56.5"
    minBufferPx="1000"
    maxBufferPx="2000"
  >
    <ion-list>
      <ion-item *ngIf="tasks && !tasks.length">
        <ion-label> No se han encontrado tareas </ion-label>
      </ion-item>

      <ion-item-sliding *cdkVirtualFor="let task of tasks">
        <ion-item [button]="true" (click)="openTaskModal(task)">
          <ion-checkbox
            slot="start"
            [checked]="task.done"
            (click)="toggleTaskDone(task, $event)"
          ></ion-checkbox>

          <ion-label
            [style.text-decoration]="task.done ? 'line-through' : 'none'"
          >
            {{ task.name }}
          </ion-label>

          <ng-container *ngIf="withTaskCategories$ | async">
            <ion-badge
              slot="end"
              *ngIf="taskCategoryByID?.[task.category!] as category"
              [style.--background]="category.color"
            >
              {{ category.name }}
            </ion-badge>
          </ng-container>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger" (click)="removeTask(task)">
            <ion-icon
              slot="icon-only"
              ios="trash-outline"
              md="trash-sharp"
            ></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </cdk-virtual-scroll-viewport>
</ion-content>
