cdk-virtual-scroll-viewport {
  height: 100%;
  width: 100%;
}

ion-checkbox {
  padding-right: 0.5rem;
  padding-block: 0.5rem;
}

ion-badge {
  --color: rgba(#fff, 0.9);

  max-width: 80px;

  font-weight: 400;
  text-overflow: ellipsis;
}

.category-selector {
  padding: 0.5rem;

  overflow-x: auto;

  white-space: nowrap;
}
